body {
  font-family: Arial, sans-serif;
  background-color: #111812;
  color: #ffffff;
  margin: 0;
  padding: 0;
}


.header {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 50px 50px;
}

.header:hover {
  animation: changeColors 1ms linear infinite;
}

@keyframes changeColors {
  0% {
    background-color: #111111;
    background-position: 0 0;
  }
  100% {
    background-color: #282828;
    background-position: -1000000px -1000000px;
  }
}

.logo {
  height: 80px; /* Adjust height of logo */
  margin-right: 10px; /* Space between logo and title */
}

.glitch {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  overflow: hidden; /* Ensure the glitch effect stays within the h1 boundaries */
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.glitch::before {
  animation: glitch1 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  z-index: -1;
  color: #8b00ff;
}

.glitch::after {
  animation: glitch2 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  z-index: -2;
  color: #00e571;
}

@keyframes glitch1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-3px, 3px);
  }
  40% {
    transform: translate(-3px, -3px);
  }
  60% {
    transform: translate(3px, 3px);
  }
  80% {
    transform: translate(3px, -3px);
  }
  to {
    transform: translate(0);
  }
}

@keyframes glitch2 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(3px, -3px);
  }
  40% {
    transform: translate(3px, 3px);
  }
  60% {
    transform: translate(-3px, -3px);
  }
  80% {
    transform: translate(-3px, 3px);
  }
  to {
    transform: translate(0);
  }
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #282828;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.button {
  --color: #00a97f;
  padding: 0.6em 1.5em; /* Reduced padding to make buttons smaller */
  margin: 0 10px; /* Added margin for extra space between buttons */
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 15px; /* Reduced font size to make buttons smaller */
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(0.8);
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  background-color: #282828; /* Updated background color */
  border: 1px solid #191815; /* Updated border */
  padding: 5px; /* Adjusted padding */
  color: #ffffff; /* Text color */
  max-width: 300px; /* Maximum width */
  width: 30%; /* Adjusted width */
  margin: 0; /* No margin */
  outline: 2px solid #383838; /* Outline color */
  height: 15px; /* Adjusted height */
  font-size: 16px; /* Adjusted font size */
  text-align: center; /* Text alignment */
  transition: all 1s; /* Transition effect */
  font-weight: bold; /* Font weight */
  font-family: "Courier New", Courier, monospace; /* Font family */
}

.search-container input[type="text"]:hover,
.search-container input[type="text"]:focus {
  background-color: #747474; /* Hover and focus background color */
  border-top-width: 0.2em; /* Adjusted border top width */
}

.search-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* Space between input and button */
}

.search-container button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e8e8e8;
  background-color: #191815;
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  border: 2px solid #212121;
  border-radius: 10px;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.15),
    2px 2px 2px rgba(0, 0, 0, 0.1),
    -3px -3px 2px rgba(255, 255, 255, 0.05),
    -2px -2px 1px rgba(255, 255, 255, 0.05);
  overflow: hidden;
  cursor: pointer;
}

.search-container button .span {
  position: relative;
  z-index: 2;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.search-container button::before {
  content: "";
  position: absolute;
  background-color: #e8e8e8;
  width: 100%;
  height: 100%;
  left: 0%;
  bottom: 0%;
  transform: translate(-100%, 100%);
  border-radius: 10px;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.search-container button:hover::before {
  transform: translate(0, 0);
  transition-delay: 0.4s;
}

.search-container button:hover .span {
  scale: 1.2;
}

.search-container button:hover {
  box-shadow: none;
}

.search-container button:active {
  scale: 0.95;
}


.card {
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  width: 190px;
  height: auto; /* Adjusted height */
  background-color: #191815;
  border-radius: 20px;
  transition: all 0.3s ease;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 5px solid transparent;
  position: relative;
}

.card h3 {
  color: #ffffff; /* Adjust text color as needed */
}

.card p {
  font-size: 14px;
  color: #888888;
margin-top: auto;
}


.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
  border-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-image-slice: 1;
}

.card2 {
  width: 190px;
  height: 230px; /* Adjusted height */
  background-color: #191815;
  border-radius: 20px;
  transition: all 0.2s ease;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 5px solid transparent;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

#resultsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 20px;
}

/* Glitch effect for header text */
.glitch {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  overflow: hidden; /* Ensure the glitch effect stays within the h1 boundaries */
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.glitch::before {
  animation: glitch1 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  z-index: -1;
  color: #8b00ff;
}

.glitch::after {
  animation: glitch2 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  z-index: -2;
  color: #00e571;
}

@keyframes glitch1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-3px, 3px);
  }
  40% {
    transform: translate(-3px, -3px);
  }
  60% {
    transform: translate(3px, 3px);
  }
  80% {
    transform: translate(3px, -3px);
  }
  to {
    transform: translate(0);
  }
}

@keyframes glitch2 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(3px, -3px);
  }
  40% {
    transform: translate(3px, 3px);
  }
  60% {
    transform: translate(-3px, -3px);
  }
  80% {
    transform: translate(-3px, 3px);
  }
  to {
    transform: translate(0);
  }
}

.footer {
  background-color: #282828;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Ensure the footer is on top of other elements */
  --bg: radial-gradient(#000 5%, #0000 6%);
  --size: 2rem;
  background-image: 
    var(--bg),
    var(--bg);
  background-position: 
    0 0,
    calc(var(--size) / 2) calc(var(--size) / 2);
  background-size: var(--size) var(--size);
}
.footer:hover {
  animation: rotateBg 5s linear infinite;
}
@keyframes rotateBg {
  to {
    background-position: 
      var(--size) 0,
      calc(var(--size) / 2 * -1) calc(var(--size) / 2);
  }
}



.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0 10px;
  font-size: 14px;
}

.social-icon {
  height: 20px;
  width: 20px;
  margin-left: 10px; /* Adjust spacing between icons */
  cursor: pointer;
}

.social-icon:hover {
  animation: rotateAndEnlarge 0.5s linear;
}

@keyframes rotateAndEnlarge {
  0% {
    transform: rotate(0deg) scale(0.75);
  }
  50% {
    transform: rotate(180deg) scale(0.875);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
 
.ui-btn {
  --btn-hover-bg: rgb(0, 0, 0);
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 1.2s;
  --hover-btn-color: lime;
  --default-btn-color: #fff;
  --font-size: 16.5px;
  /* 👆 this field should not be empty */
  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
  /* 👆 this field should not be empty */
}

/* button settings 👆 */

.ui-btn {
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
  background: var(--btn-hover-bg);
}

.ui-btn:hover span,
.ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";
  }
    
  35% {content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}

.background {
  width: 100%;
  height: 100%;
  background-image: radial-gradient( #111812 85%, #173d49 90%,#0d1725 20%);
  background-size: 50px 50px;
  animation: moveDiagonally 5s linear infinite;
}

@keyframes moveDiagonally {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px;
    
  }
}


.container {
  width: 100%;
  height: 100%;
  --s: 84px;
  --c1: #282828;
  --c2: #1e1e1e;
  --c3: #111812;
  --_g: 0 120deg, #0000 0;
  background: conic-gradient(
      from 0deg at calc(500% / 6) calc(100% / 3),
      var(--c3) var(--_g)
    ),
    conic-gradient(
      from -120deg at calc(100% / 6) calc(100% / 3),
      var(--c2) var(--_g)
    ),
    conic-gradient(
      from 120deg at calc(100% / 3) calc(500% / 6),
      var(--c1) var(--_g)
    ),
    conic-gradient(
      from 120deg at calc(200% / 3) calc(500% / 6),
      var(--c1) var(--_g)
    ),
    conic-gradient(
      from -180deg at calc(100% / 3) 50%,
      var(--c2) 60deg,
      var(--c1) var(--_g)
    ),
    conic-gradient(
      from 60deg at calc(200% / 3) 50%,
      var(--c1) 60deg,
      var(--c3) var(--_g)
    ),
    conic-gradient(
      from -60deg at 50% calc(100% / 3),
      var(--c1) 120deg,
      var(--c2) 0 240deg,
      var(--c3) 0
    );
  background-size: calc(var(--s) * 1.732) var(--s);
  animation: moveDown 100s linear infinite;
}

@keyframes moveDown {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

/* CSS style to hide cursor element */
.newClass {
  cursor: none;
}


.spotify-button {
  margin-top: 15px;
  position: relative;
  text-decoration: none;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  width: 100%; /* Adjust width as needed */
  height: auto;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #1DB954, #03a9f4, #ffeb3b, #1DB954);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  display: inline-flex; /* Use flexbox to keep icon and text in one line */
  align-items: center; /* Center vertically */
  padding: 0.5em 1em; /* Adjust padding */
}
.spotify-button:hover {
  animation: ani 5s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.spotify-button::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #1DB954, #03a9f4, #ffeb3b, #1DB954);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.spotify-button:hover::before {
  filter: blur(20px);
}

.spotify-button:active {
  background: linear-gradient(32deg, #1DB954, #03a9f4, #ffeb3b, #1DB954);
}

.spotify-button img {
  width: 20px; /* Adjust icon size */
  margin-right: 0.5em; /* Space between icon and text */
}

.loader {
  width: 160px;
  height: 185px;
  position: fixed; /* Changed to fixed */
  left: 50%;
  bottom: 20px; /* Fixed 20px from the bottom */
  transform: translateX(-50%); /* Center horizontally */
  background: #fff;
  border-radius: 100px 100px 0 0;
}
.loader:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 125px;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  background-image: radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #fff 30%, transparent 45%),
    radial-gradient(circle, #000 48%, transparent 51%),
    linear-gradient(#000 20px, transparent 0),
    linear-gradient(#cfecf9 60px, transparent 0),
    radial-gradient(circle, #cfecf9 50%, transparent 51%),
    radial-gradient(circle, #cfecf9 50%, transparent 51%);
  background-repeat: no-repeat;
  background-size: 16px 16px, 16px 16px, 10px 10px, 42px 42px, 12px 3px,
    50px 25px, 70px 70px, 70px 70px;
  background-position: 25px 10px, 55px 10px, 36px 44px, 50% 30px, 50% 85px,
    50% 50px, 50% 22px, 50% 45px;
  animation: faceLift 3s linear infinite alternate;
}
.loader:before {
  content: "";
  position: absolute;
  width: 140%;
  height: 125px;
  left: -20%;
  top: 0;
  background-image: radial-gradient(circle, #fff 48%, transparent 50%),
    radial-gradient(circle, #fff 48%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 65px 65px;
  background-position: 0px 12px, 145px 12px;
  animation: earLift 3s linear infinite alternate;
}
.loader:hover {
  animation: brownBear 3s linear infinite;
}
.loader:hover:before {
  animation: earBrown 3s linear infinite;
}
@keyframes faceLift {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(-30%);
  }
}
@keyframes earLift {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes brownBear {
  0% {
    background: #8b572a;
  }
  100% {
    background: #8b572a;
  }
}
@keyframes earBrown {
  0% {
    background-image: radial-gradient(circle, #8b572a 48%, transparent 50%),
      radial-gradient(circle, #8b572a 48%, transparent 50%);
  }
  100% {
    background-image: radial-gradient(circle, #8b572a 48%, transparent 50%),
      radial-gradient(circle, #8b572a 48%, transparent 50%);
  }
}


/*media queries*/
@media only screen and (max-width: 600px) {
  /* Header */
  .header {
    size: 50%;
  }

  /* Search section */
  .search-artist,
  .search-track,
  .top-track {
    width: 100%;
    margin-bottom: 10px;
  }

  /* Container */
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* Cards */
  .card {
    width: 50%;
  }

  /* Disable pointer */
  .newClass {
    pointer-events: none;
  }

  /* Footer */
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer p {
    margin: 5px 0;
  }
}